---
layout: page
title: "Framework project: Digital Elevation Models (DEMs)"
excerpt: "Karttur's GeoImangine Framework project: Digital Elevation Models (DEMs)"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

<h2>Copernicus DEM processing</h2>

This second part of the blog on global Digital Elevation Models (DEMs) detaiels the processing of the Copernicus DEM (CopDEM) for the Northern Hemisphere using the EASE 2 Grid North projection. To access CopDEM and understand some of the processing principles you might want to consult part 1 on Global DEMs.

<h3>Posts</h3>

<ul class="post-list">
{% for post in site.categories.copdem reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
